 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi there and welcome to my web page! Here is where I will write about exciting work in Machine Learning, Telecommunication, Home Automation, Information Security. I will also write about my projects which you might use as guidance for your own hacks!</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently I'm delving into the fields of Machine Learning as a Masters student after getting a degree in Telecommunication engineering. These are excitingly chaotic times to live in and too great to miss out on!</p>
                </div>
                <!-- 
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
